<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>{{ isEdition() ? "Editar" : "Novo"}} Grupo</h1>
            </div>
            <div class="p-col-12 p-md-9 p-fluid">
                <span class="p-float-label">
                    <input id="txtId" name="txtId" type="text" pInputText [(ngModel)]="entity.code" [disabled]="!isEdition()">
                    <label for="txtId">Código</label>
                </span>
            </div>
            <div class="p-col-12 p-md-9 p-fluid">
                <span class="p-float-label">
                    <input id="txtName" name="txtName" type="text" pInputText [(ngModel)]="entity.name" required minlength="3" maxlength="50">
                    <label for="txtName">Nome</label>
                </span>
            </div>
            <p-button label="Salvar"  type="submit" icon="pi pi-check" iconPos="right"></p-button>
            <button pButton class="p-button-secondary" id="reset-button" label="Novo" (click)="newGroup(f)"></button>
        </div>
    </form>
</div>