/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  background-image: url('../src/assets/imgs/background.jpg');
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-action-content .p-button {
    margin: 3px;
}

.field-code {
  width:20px;
}

