<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>{{ isEdition() ? "Editar" : "Novo"}} Funcionário</h1>
            </div>
            <div class="p-col-12 p-md-9 p-fluid">
                <span class="p-float-label">
                    <input id="txtId" name="txtId" type="text" pInputText [(ngModel)]="entity.code"
                        [disabled]="!isEdition()">
                    <label for="txtId">Código</label>
                </span>
            </div>
            <div class="p-col-12 p-md-9 p-fluid">
                <span class="p-float-label">
                    <input id="txtName" name="txtName" type="text" pInputText [(ngModel)]="entity.name" required
                        minlength="3" maxlength="50">
                    <label for="txtName">Nome</label>
                </span>
            </div>
            <div class="p-col-12 p-md-9 p-fluid">
                <span class="p-float-label">
                    <p-inputMask id="txtCpf" name="txtCpf" [(ngModel)]="entity.cpf" mask="999.999.999-99" minlength="11">
                    </p-inputMask>
                    <label for="txtCpf">CPF</label>
                </span>
            </div>
            <div class="p-col-12 p-md-9 p-fluid">
                <span class="p-float-label">
                    <input id="txtSalary" name="txtSalary" type="text"
                        [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false }" currencyMask
                        pInputText [(ngModel)]="entity.salary">
                    <label for="txtSalary">Salário</label>
                </span>
            </div>
            <div class="p-col-12 p-md-9 p-fluid">
                <p-dropdown name="group" [options]="groups" optionLabel="name" optionValue="code" [filter]="true"
                    filterBy="name" placeholder="Grupo" [(ngModel)]="entity.group.code"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-9 p-fluid">
                <p-dropdown name="sector" [options]="sectors" optionLabel="name" optionValue="code" [filter]="true"
                    filterBy="name" placeholder="Setor" [(ngModel)]="entity.sector.code"></p-dropdown>
            </div>
            <label for="txtActive">Ativo</label>
            <div class="p-col-12 p-md-9 p-fluid">
                <span>
                    <p-inputSwitch name="inputActive" [(ngModel)]="entity.active"></p-inputSwitch>
                </span>
            </div>

            <p-button label="Salvar" type="submit" icon="pi pi-check" iconPos="right"></p-button>
            <button pButton class="p-button-secondary" id="reset-button" label="Novo" (click)="newEmployee(f)"></button>
        </div>
    </form>
</div>